form {
    width: 60%;
    margin: 20px auto;
    /* rgba() has a 4th value for opacity on a scale 0 - 1 */
    background-color: rgba(240, 240, 240, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  
  form h2 {
    text-align: center;
  }
  
  form fieldset {
    border-radius: 10px;
    border: 3px solid gray;
    margin: 20px 0px;
  }
  
  form fieldset legend {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  /* form label.choice { */
  form .choice {
    display: inline;
  }
   /* attribute CSS selector AND comma-separated multiple selectors */
  input[type="radio"],
  input[type="checkbox"],
  form .choice {
    float: left;
    margin: 10px 5px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    clear: left;
  }
  
  textarea,
  select,
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  
  textarea {
    resize: vertical;
    max-height: 150px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: forestgreen;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

  input[type="text"]:focus {
    background-color: rgb(170, 241, 247);
  }

  /* attribute selector AND pseudo-class */
  input[type="submit"]:hover {
    background-color: darkgreen;
    cursor: pointer;
  }
  
  input[type="submit"]:active {
    box-shadow: 0px 6px 10px 0px gray;
  }